.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
 }

.logo {
  width: 100px;
  height: 90px;
}

.nav-items{
  font-size: 24px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;

}

.nav-items > ul > li{
  padding-right: 20px;
}

.res-container{
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  margin:1px;
}

.res-card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: #f3f3f3;
  border-radius: 8px;
}

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}

.search{
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.filter{
  padding: 10px;
}